---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d44448240c4583469eaacc966b2d4e1d&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664324375,"sunrise":1664283137,"sunset":1664326168,"temp":70.56,"feels_like":69.19,"pressure":1021,"humidity":40,"dew_point":45.1,"uvi":0.25,"clouds":69,"visibility":10000,"wind_speed":1.99,"wind_deg":129,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664323200,"temp":70.56,"feels_like":69.19,"pressure":1021,"humidity":40,"dew_point":45.1,"uvi":0.25,"clouds":69,"visibility":10000,"wind_speed":15.84,"wind_deg":179,"wind_gust":19.66,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.4},{"dt":1664326800,"temp":70.32,"feels_like":68.88,"pressure":1021,"humidity":39,"dew_point":44.22,"uvi":0,"clouds":68,"visibility":10000,"wind_speed":11.07,"wind_deg":190,"wind_gust":17.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.28},{"dt":1664330400,"temp":69.84,"feels_like":68.36,"pressure":1021,"humidity":39,"dew_point":43.79,"uvi":0,"clouds":57,"visibility":10000,"wind_speed":7.45,"wind_deg":184,"wind_gust":11.77,"weather":[{"id":8[...]
