---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d44448240c4583469eaacc966b2d4e1d&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664321600,"sunrise":1664283137,"sunset":1664326168,"temp":72.16,"feels_like":70.81,"pressure":1021,"humidity":37,"dew_point":44.47,"uvi":0.25,"clouds":71,"visibility":10000,"wind_speed":3,"wind_deg":114,"wind_gust":8.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664319600,"temp":72.37,"feels_like":70.95,"pressure":1020,"humidity":35,"dew_point":43.21,"uvi":1.06,"clouds":71,"visibility":10000,"wind_speed":9.08,"wind_deg":177,"wind_gust":12.19,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.28},{"dt":1664323200,"temp":72.16,"feels_like":70.81,"pressure":1021,"humidity":37,"dew_point":44.47,"uvi":0.25,"clouds":71,"visibility":10000,"wind_speed":11.83,"wind_deg":194,"wind_gust":14.52,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.36},{"dt":1664326800,"temp":71.98,"feels_like":70.57,"pressure":1021,"humidity":36,"dew_point":43.61,"uvi":0,"clouds":76,"visibility":10000,"wind_speed":10.16,"wind_deg":186,"wind_gust":13.85,"weather":[{"[...]
