---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d44448240c4583469eaacc966b2d4e1d&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664401527,"sunrise":1664369594,"sunset":1664412469,"temp":82.94,"feels_like":80.47,"pressure":1018,"humidity":19,"dew_point":36.5,"uvi":2.45,"clouds":42,"visibility":10000,"wind_speed":3,"wind_deg":120,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1664398800,"temp":83.17,"feels_like":80.56,"pressure":1017,"humidity":17,"dew_point":33.89,"uvi":4.21,"clouds":38,"visibility":10000,"wind_speed":3.44,"wind_deg":169,"wind_gust":6.24,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664402400,"temp":82.94,"feels_like":80.47,"pressure":1018,"humidity":19,"dew_point":36.5,"uvi":2.45,"clouds":42,"visibility":10000,"wind_speed":5.57,"wind_deg":183,"wind_gust":6.69,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664406000,"temp":82.96,"feels_like":80.44,"pressure":1017,"humidity":18,"dew_point":35.15,"uvi":1.04,"clouds":44,"visibility":10000,"wind_speed":8.59,"wind_deg":173,"wind_gust":7.05,"weather":[{"id":8[...]
