---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d44448240c4583469eaacc966b2d4e1d&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664227987,"sunrise":1664196681,"sunset":1664239867,"temp":80.92,"feels_like":79.32,"pressure":1019,"humidity":23,"dew_point":39.69,"uvi":2.71,"clouds":0,"visibility":10000,"wind_speed":4,"wind_deg":52,"wind_gust":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664226000,"temp":81.1,"feels_like":79.32,"pressure":1018,"humidity":21,"dew_point":37.53,"uvi":4.48,"clouds":0,"visibility":10000,"wind_speed":4.68,"wind_deg":62,"wind_gust":4.41,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664229600,"temp":80.92,"feels_like":79.32,"pressure":1019,"humidity":23,"dew_point":39.69,"uvi":2.71,"clouds":0,"visibility":10000,"wind_speed":5.66,"wind_deg":65,"wind_gust":5.06,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664233200,"temp":81.03,"feels_like":79.29,"pressure":1018,"humidity":21,"dew_point":37.45,"uvi":1.16,"clouds":0,"visibility":10000,"wind_speed":6.49,"wind_deg":65,"wind_gust":5.19,"weather":[{"id":800,"main":"[...]
