---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ac304981920fd3cb47c94111644cd756&exclude=minutely,alerts&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664152356,"sunrise":1664110224,"sunset":1664153566,"temp":70.66,"feels_like":68.99,"pressure":1021,"humidity":33,"dew_point":40.19,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":4,"wind_deg":328,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664150400,"temp":71.53,"feels_like":69.78,"pressure":1020,"humidity":30,"dew_point":38.5,"uvi":0.28,"clouds":6,"visibility":10000,"wind_speed":8.75,"wind_deg":44,"wind_gust":6.38,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664154000,"temp":70.66,"feels_like":68.99,"pressure":1021,"humidity":33,"dew_point":40.19,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":8.84,"wind_deg":58,"wind_gust":9.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664157600,"temp":70.52,"feels_like":68.74,"pressure":1021,"humidity":31,"dew_point":38.46,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":7.56,"wind_deg":75,"wind_gust":12.66,"weather":[{"id":800,"main":"Clear[...]
